<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/nav.css">
    <title>DDNet Bindings | Commands</title>
</head>
<body>
    <div class="main-content">
            <!-- Navbar -->
     <div class="ddbin-nav-div">
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/commands">Commands</a></li>
            <li><a href="/binds">Binds</a></li>
          </ul>
        </nav>
       </div>
       <!-- End navbar -->
    </div>
</body>
</html>