<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/nav.css">
  <title>DDNet Bindings</title>
</head>
<body>
  <div class="main-content">
    <!-- Navbar -->
     <div class="ddbin-nav-div">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/commands">Commands</a></li>
          <li><a href="/binds">Binds</a></li>
        </ul>
      </nav>
     </div>
     <!-- End navbar -->
     <header class="ddbin-header">
      <h1>DDNet Bindings</h1>
      <p>Looking for the perfect bind or want to create your own? You've come to the right place!</p>
    </header>
     <div class="ddbin-page">
      <section class="ddbin-sections">
        <div class="ddbin-sections-binds-mostused ddbin-box">
          <a class="a-box" href="/binds#mostused">
          <h3>Most Used Binds</h3>
          <p>Here you can found the most used binds on DDRaceNetwork.</p>
        </a>
        </div>
        <div class="ddbin-sections-binds ddbin-box">
          <a class="a-box" href="/binds">
          <h3>Binds</h3>
          <p>Binds created by the community!</p>
          </a>
        </div>
        <div class="ddbin-sections-commands ddbin-box">
          <a class="a-box" href="/commands">
          <h3>Want to create your own bind?</h3>
          <p>Here, you can create your bind using all available commands, complete with detailed explanations!</p>
          </a>
        </div>
      </section>
     </div>
     <div class="ddbin-footer">
      <footer>
        <a href="#">Submit your bind</a>
        <a href="#">Github Page Project</a>
        <a href="#">DDRaceNetwork Official Page</a>
        <a href="#">License</a>
        <p>Owner: neopkr</p>
      </footer>
     </div>
  </div>
</body>
</html>