.ddbin-footer {
    border-top: 1px solid white; /* Línea blanca en la parte superior del footer */
    background-color: rgb(20, 20, 20); /* Color de fondo para el footer */
    padding: 10px 20px; /* Espaciado interno */
    text-align: center; /* Centra el contenido del footer */
}

.ddbin-footer footer {
    margin: 0;
}

.ddbin-footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    transition: 0.3s;
}

.ddbin-footer a:hover {
    color: #a0a0a0;
}

.ddbin-footer p {
    margin-top: 10px;
}