.ddbin-nav-div {
    background-color: rgb(31, 31, 31);
    padding: 20px 20px;
}

.ddbin-nav-div nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.ddbin-nav-div nav ul li {
    margin-right: 20px;
}

.ddbin-nav-div nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: larger;
    transition: color 0.3s ease;
    cursor: pointer;
}

.ddbin-nav-div nav ul li a:hover {
    color: #ccc;
}

.ddbin-nav-div nav ul li:last-child {
    margin-left: auto; /* Empuja el campo de búsqueda hacia la derecha */
}

.ddbin-nav-div nav ul li input {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #979797;
}

.dropdown {
    display: none;
    background-color: rgb(31,31,31);
    color: #ccc;
    position: absolute;
    border: 1px solid rgb(31, 31, 31);
    border-radius: 5px;
    max-height: 150px;
    width: 30vh;
    overflow-y:scroll;
}

.dropdown li {
    padding: 10px;
    cursor: pointer;
}

.dropdown li:hover {
    background-color: #353535;
}