* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: rgb(20, 20, 20);
    font-family: 'Courier New', Courier, monospace;
    color: white;
    display: flex;
    flex-direction: column;
}

.ddbin-a-style {
    text-decoration: none;
    color: #1e90ff;
    transition: 0.3s;
}

.ddbin-a-style:hover {
    color: #b0c4de;
}